form.signup,
form.login {
  margin-top: 50px;
}

#shadow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px silver, 0 0 5px grey;
  font-size: 20px;
}
 
.signUpForm {
  color: white;
  font-style: bold;
}
.member-name-wrapper {
  padding: 15px;
}
.member-name {
  font-size: 12px;
  color: #444;
}

.list-group-item {
  line-height: 2.5;
}

/*store front */

.h2, .h4 {
  font-size: 30px;
  color: whitesmoke;
}

.text-center {
  text-align: center;
  color: blue;
}

.p {
  color: white;
}
